<ul class="social-links">
  {%- for entry in site.minima.social_links -%}
    <li style="list-style: none;">
      <a href="{{ entry.url }}" target="_blank" rel="noopener">
        {% assign name_lower = entry.name | downcase %}
        {% if name_lower == "instagram" %}
          <i style="font-size:140%" class="fab fa-instagram"></i>
        {% elsif name_lower == "twitter" %}
          <i class="fab fa-twitter"></i>
        {% elsif name_lower == "github" %}
          <i class="fab fa-github"></i>
        {% elsif name_lower == "linkedin" %}
          <i class="fab fa-linkedin"></i>
        {% elsif name_lower == "facebook" %}
          <i class="fab fa-facebook"></i>
        {% else %}
          <i class="fas fa-link"></i>
        {% endif %}
        {{ entry.name }}
      </a>
    </li>
  {%- endfor -%}
</ul>
